<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>HOME</title>
</head>
<body>
    <h1>Home</h1>
    <p>
        <a href="/autom_list">List of automations</a>
    </p>
    <div>
        <h3>Automations control</h3>
        <a href="/automations_off"><button id='stop_automations' onclick="stopautomations()">Stop automations</button></a>
    </br></br>
        <a href="/automations_restart"><button id='restart_automations' onclick="restartautomations()">Restart automations</button></a>
        
    </div>

<script>
function stopautomations() {
    $("#stop_automations").click(function() {
        $.get('/automations_off')
        }
    )
}
function restartautomations() {
    $("#restart_automations").click(function() {
        $.get('/automations_restart')
        }
    )
}
</script>
</p>
</body>
</html>